<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c6d33e69-36d3-45d4-8ebb-d25e05caca7e/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/testPassApp</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WEU</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://testpassapp-gngmehambgdhduhd.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ab297624-40ef-4f73-9d9e-dcfaded23f94</ProjectGuid>
    <PublishUrl>https://testpassapp-gngmehambgdhduhd.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>